// heights and widths
$home-content-width: 818px;
$content-width: 980px;
// phone aspect ratio is 16:9
// width is 56.25% the height


// colors
$site-white: #ffffff;
$site-blue: #79ADDC;
$site-black: #000000;
