.about { 
    width: $content-width;
    margin: auto;
    margin-top: 110px;
    margin-bottom: 180px;

    .ab-title1 {
        width: $content-width;
        min-height: 100px;

        .ab-title1-font {
            width: 190px;
            height: 63px;
            border-bottom: 2px solid #000;
            color: #000;
            font-size: 60px;
            font-family: PnCONthin;
        }

        .ab-para-font {
            font-size: 16px;
            font-family: GSmedreg;
            margin-top: 36px;
        }
    }

    .ab-title2-font {
        width: 266px;
        height: 45px;
        border-bottom: 2px solid #000;
        color: #000;
        font-size: 40px;
        font-family: PnCONthin;
        margin-top: 106px;
    }

    .client-quotes {
        width: 670px;
        height: 337px;
        // background-color: cadetblue;
        margin-top: 37px;

        .CQ-quotes-font {
            font-size: 16px;
            font-family: GSitalic;
        }

        .CQ-quotesname-font {
            font-size: 20px;
            font-family: PnXCONthin;
            color: $site-blue;
        }

        .CQ-p1 {
            width: 670px;
            height: 150px;
            // background-color: burlywood;
            position: relative;

            .CQ-p1-img {
                width: 260px;
                height: 150px;
                background-image: url(../images/about-client-01.jpg);
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
            }

            .CQ-p-quote {
                width: 385px;
                // height: 129px;
                // background-color: gainsboro;
                position: absolute;
                top: 0px;
                right: 0px;
            }

            .CQ-p-name {
                height: 20px;
                position: absolute;
                bottom: 0px;
                right: 0px;
            }
        }

        .CQ-p2 {
            width: 670px;
            height: 150px;
            // background-color: burlywood;
            position: relative;
            margin-top: 37px;

            .CQ-p2-img {
                width: 260px;
                height: 150px;
                background-image: url(../images/about-client-02.jpg);
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
            }

            .CQ-p-quote {
                width: 385px;
                position: absolute;
                top: 0px;
                right: 0px;
            }

            .CQ-p-name {
                height: 20px;
                position: absolute;
                bottom: 0px;
                right: 0px;
            }
        }

    }
}

@media all and (max-width: 1000px) {
    .about { 
        max-width: 90%;
    
        .ab-title1 {
            // background-color: blueviolet;
            max-width: 100%;
            min-height: 10px;
    
            .ab-title1-font {
                width: 190px;
                height: 63px;
                border-bottom: 2px solid #000;
                color: #000;
                font-size: 60px;
                font-family: PnCONthin;
            }
    
            .ab-para-font {
                font-size: 16px;
                font-family: GSmedreg;
                margin-top: 36px;
                width: 100%;
                // background-color: beige;
            }
        }
    
        .ab-title2-font {
            width: 266px;
            height: 45px;
            border-bottom: 2px solid #000;
            color: #000;
            font-size: 40px;
            font-family: PnCONthin;
            margin-top: 106px;
        }
    }
}

@media all and (max-width: 765px) {
    .about { 
        max-width: 90%;
        margin-bottom: 400px;
    
        .client-quotes {
            width: 100%;
            min-height: 37px;
            // background-color: gainsboro;
    
            .CQ-p1 {
                width: 100%;
                min-height: 50px;
                // background-color: burlywood;
                position: relative;
    
                .CQ-p1-img {
                    width: 260px;
                    height: 150px;
                    background-image: url(../images/about-client-01.jpg);
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: cover;
                }
    
                .CQ-p-quote {
                    width: 100%;
                    // background-color: sandybrown;
                    margin-top: 55px;
                    position: relative;
                }

                .CQ-p-name {
                    height: 20px;
                    // background-color: darksalmon;
                    position: absolute;
                    left: 0;
                    top: 170px;
                }
            }
    
            .CQ-p2 {
                margin-top: 180px;
                width: 100%;
                min-height: 50px;
                // background-color: burlywood;
                position: relative;
    
                .CQ-p2-img {
                    width: 260px;
                    height: 150px;
                    background-image: url(../images/about-client-02.jpg);
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: cover;
                }
    
                .CQ-p-quote {
                    width: 100%;
                    // background-color: sandybrown;
                    margin-top: 55px;
                    position: relative;
                }

                .CQ-p-name {
                    height: 20px;
                    // background-color: darksalmon;
                    position: absolute;
                    left: 0;
                    top: 170px;
                }
            }
    
        }
    }

}